Repository electron/governance, changes with the owners that .github/CODEOWNERS names for each.
All owners: @electron/wg-admin, @electron/wg-api, @electron/wg-community-safety, @electron/wg-ecosystem, @electron/wg-releases, @electron/wg-upgrades, @electron/wg-security

.github/CODEOWNERS:

# Administration Files
*/repositories.md @electron/wg-admin
/policy/ @electron/wg-admin

# Working Group Directories
/wg-api/ @electron/wg-api
/wg-community-safety/ @electron/wg-community-safety
/wg-ecosystem/ @electron/wg-ecosystem
/wg-releases/ @electron/wg-releases
/wg-upgrades/ @electron/wg-upgrades
/wg-security/ @electron/wg-security

docs: release wg 10/9 meeting notes
  wg-releases/meeting-notes/2019-10-09.md
Owners: @electron/wg-releases

docs: release wg 10/9 meeting notes (#179)
  wg-releases/meeting-notes/2019-10-09.md
Owners: @electron/wg-releases

Remove ryzokuken from Upgrade WG
  wg-upgrades/README.md
Owners: @electron/wg-upgrades

Moved under releases + additions to README
  wg-releases/wg-qa/README.md
  wg-releases/wg-qa/meeting-notes/2019-9-18.md
  wg-releases/wg-qa/meeting-notes/2019-9-25.md
Owners: @electron/wg-releases

Update 2019-9-18.md
  wg-releases/wg-qa/meeting-notes/2019-9-18.md
Owners: @electron/wg-releases

apply review
  wg-api/best-practices.md
Owners: @electron/wg-api

docs: remove ryzokuken from Upgrade WG (#180)
  wg-upgrades/README.md
Owners: @electron/wg-upgrades
